<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    </header>

    <main>
        <% if(errorMessage) { %>
            <div class="message message-error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/reset-password" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>
</body>

</html>