<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    </header>
    <div class='centered'>
        <h1>Oops! A system error occurred!</h1>
        <p>We are working on fixing it, sorry for the issue.</p>
    </div>
</body>

</html>